{%- assign header_menu_handle = menu_handle | default: section.settings.main_menu -%}

<nav class="site-header__nav-wrap" aria-label="Primary navigation">
  <ul class="site-header__nav" role="list">
    {%- for link in linklists[header_menu_handle].links -%}
      <li
        class="nav-item"
        v-init-megamenu="'{{ link.handle }}'"
        :class="{ 'is-open': megamenuToggles['{{ link.handle }}'] }"
        @mouseenter="openMegamenu('{{ link.handle }}')"
        @mouseleave="scheduleMegamenuClose('{{ link.handle }}')">
        <a
          class="nav-item__link"
          href="{{ link.url }}"
          :class="{ 'menu-link--active': megamenuToggles['{{ link.handle }}'] }">
          {{ link.title | escape }}
        </a>

        <div class="nav-item__chevron menu-arrow" aria-hidden="true">
          {% render 'icon', name: 'arrow-down' %}
        </div>
      </li>
    {%- endfor -%}
  </ul>
</nav>
