<transition name="fade">
  <div v-if="flyouts.minicart" class="minicart-overlay" @click="toggleFlyout('minicart')"></div>
</transition>

<transition name="slide-down">
  <minicart inline-template v-show="flyouts.minicart">
    <div class="minicart">

      <button class="minicart__close" @click="toggleFlyout('minicart')" aria-label="Close">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none">
          <path d="M1 1l12 12M13 1L1 13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
        </svg>
      </button>

      <div v-if="cart && cart.item_count">
        <div class="minicart__items">
          <div v-for="(item, index) in cart.items" :key="item.key" class="minicart__item">
            <div class="mask mask--loading" v-if="item.isLoading"><span class="spinner">{{ 'general.misc.loading' | t }}</span></div>
            <div class="minicart__item__inner">

              <a class="minicart__item__img-wrap" :href="item.url">
                <responsive-image
                  v-if="item.image"
                  :src="item.image.src | imageSize(96)"
                  :base-width="96"
                  :base-height="96 / item.image.aspect_ratio"
                  sizes="96px"
                  :alt="item.image.alt"
                ></responsive-image>
              </a>

              <div class="minicart__item__info">
                {%- comment -%} Left: product name {%- endcomment -%}
                <div class="minicart__item__left">
                  <a class="minicart__item__title" :href="item.url" v-html="item.product_title"></a>
                  <div v-if="item.variant_title" class="minicart__item__variant">${ item.variant_title }</div>
                </div>

                {%- comment -%} Right: price + remove {%- endcomment -%}
                <div class="minicart__item__right">
                  <span class="minicart__item__price">${ item.final_line_price | currencyFromCents }</span>
                  <button @click="updateItem(item, 0)" class="minicart__item__remove">Remove</button>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="minicart__footer">
          <div class="minicart__subtotal">
            <span>Subtotal:</span>
            <span class="minicart__subtotal-price">${ cart.total_price | currencyFromCents }</span>
          </div>
          <div class="minicart__actions">
            <a href="{{ routes.cart_url }}" class="minicart__btn minicart__btn--secondary">
              {{ 'cart.general.view_cart' | t }}
            </a>
            <a href="/checkout" class="minicart__btn minicart__btn--primary">
              {{ 'cart.general.checkout' | t }}
            </a>
          </div>
        </div>
      </div>

      <div v-else class="minicart__empty">
        <p>{{ 'cart.general.empty' | t }}</p>
        <button class="minicart__btn minicart__btn--secondary" @click="toggleFlyout('minicart')">{{ 'cart.general.continue_browsing' | t }}</button>
      </div>

    </div>
  </minicart>
</transition>
